@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;600&display=swap');

.Standings table {
    word-break: break-all;
    display: relative;
    width: 100%;
    border: 1px solid black;
}
.Standings thead > tr {
    background-color: black;
    color: white;
}
.Standings-links {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.Standings-links button {
    font-family: Dosis, Arial, Helvetica, sans-serif;
    padding: 5px 25px;
    background-color: silver;
    color: black;
    font-weight: 600;
    border-radius: 15px;
}
.Standings-links button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}
.standings-title {
    font-size: 2rem;
    font-weight: 600;
    margin: 5px;
}
.standings-subtitle {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 5px;
}
.Standings a {
    text-decoration: none;
    color: black;
}
.Standings table td:first-child {
    text-align: left;
    padding-left: 25px;
}
.Standings h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}
@media (max-width: 479px) {
    .Standings {
        width: 99%;
        overflow-y: hidden;
    }
    .Standings .StandingsTable > div {
        overflow-x: scroll;
        white-space: nowrap;
    }
    .Standings .StandingsTable  .header-title {
        display: inline-block;
    }
    .Standings table {
        border: 0px;
    }
    .Standings .Standings-links {
        width: 80%;
        display: inline-block;
    }
    .Standings button {
        display: inline-block;
        width: 80px;
        padding: 5px;
        margin: 5px;
        height: 30px;
        font-size: .7rem;
        text-align: center;
    }
}
@media (min-width: 480px) and (max-width: 1320px) {
    .Standings {
        width: 99%;
        overflow-y: hidden;
    }
    .Standings .StandingsTable > div {
        overflow-x: scroll;
        white-space: nowrap;
    }
    .Standings .StandingsTable > div {
        margin-right: 30px;
        overflow-x: scroll;
        white-space: nowrap;
    }
}